{{#*inline "content"}}
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Announcements <small>Fall 2016 Contest</small></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        {{#each posts}}
        <div class="post-ident">
          <h4>
            {{ title }}
            <div>
              <small> {{ timestamp_str }} </small>
            </div>
          </h4>
          <div>
            {{ content }}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Dates</h3>
      </div>
      <div class="panel-body">
        <div>
          {{ #each dates}}
          <strong>{{ name }}</strong>
          <p class="text-muted">
            <small>{{ start_str }} - {{ end_str }}</small>
          </p>
          {{ /each}}
        </div>
      </div>
    </div>
    <div class="signup">
      <a class="btn btn-danger btn-block" href="https://builditbreakit.org/contest/fall2016/participation">
        PARTICIPANTS
      </a>
    </div>
  </div>
</div>
{{/inline}}
{{~> layout~}}
