{{#*inline "content"}}
<div class="row"><div class="col-md-12"><div class="page-header"><h1>Profile
<small>Account</small>
</h1>
</div>
</div>
</div>

<div class="row"><div class="col-md-3"><ul class="nav nav-pills nav-stacked"><li class="active"><a href="https://builditbreakit.org/profile/account">Account</a>
</li>
<li class=""><a href="https://builditbreakit.org/profile/teams">Teams</a>
</li>
</ul>
</div>
<div class="col-md-9"><a class="pull-right btn btn-default" type="button" href="https://builditbreakit.org/profile/account/edit">Edit</a>
<div class="clear"></div>
<form class="form-horizontal"><div class="form-group"><label class="col-md-4 control-label">Username</label>
<div class="col-md-8"><p class="form-control-static">{{#if user.ident}}{{user.ident}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Email</label>
<div class="col-md-8"><p class="form-control-static">{{#if user.email}}{{user.email}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Created</label>
<div class="col-md-8"><p class="form-control-static">{{#if user.created}}{{user.created}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Consent form</label>
<div class="col-md-8"><p class="form-control-static">Not uploaded (<a href="https://builditbreakit.org/profile/account/consent">Upload here</a>)</p>
</div>
<label class="col-md-4 control-label">Resume</label>
<div class="col-md-8"><p class="form-control-static">Not uploaded (<a href="https://builditbreakit.org/profile/account/resume">Upload here</a>)</p>
</div>
<label class="col-md-4 control-label">School</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.school}}{{info.school}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Graduation year</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.graduationYear}}{{info.graduationYear}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Major</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.major}}{{info.major}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Minor</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.minor}}{{info.minor}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Degrees held</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.degreesHeld}}{{info.degreesHeld}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Degree</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.degree}}{{info.degree}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Years of experience</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.yearsOfExperience}}{{info.yearsOfExperience}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Languages known</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.languages}}{{info.languages}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Favorite languages</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.favoriteLanguages}}{{info.favoriteLanguages}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Class experience?</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.experienceClass}}{{info.experienceClass}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Personal experience?</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.experiencePersonal}}{{info.experiencePersonal}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Internship experience?</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.experienceInternship}}{{info.experienceInternship}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Security training?</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.securityTraining}}{{info.securityTraining}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Security experience?</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.securityExperience}}{{info.securityExperience}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Soft eng. experience?</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.softwareEngineering}}{{info.softwareEngineering}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Taken security class?</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.securityClass}}{{info.securityClass}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Previous contestant?</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.previousContest}}{{info.previousContest}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Programmer rating</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.programmerRating}}{{info.programmerRating}}{{else}}N/A{{/if}}/10</p>
</div>
<label class="col-md-4 control-label">Attacker rating</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.attackerRating}}{{info.attackerRating}}{{else}}N/A{{/if}}/10</p>
</div>
<label class="col-md-4 control-label">Age</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.age}}{{info.age}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Gender</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.gender}}{{info.gender}}{{else}}N/A{{/if}}</p>
</div>
<label class="col-md-4 control-label">Nationality</label>
<div class="col-md-8"><p class="form-control-static">{{#if info.nationality}}{{info.nationality}}{{else}}N/A{{/if}}</p>
</div>
</div>
</form>
</div>
</div>
{{/inline}}
{{~> layout~}}
